html {
	height: 100%;
	box-sizing: border-box;
}

body {
	height: 100%;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	line-height: 1.7;
}

img {
	float: left;
	margin-right: 10px;
}

.title {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 29px;
	margin-left: 647px;
}

.about {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 24px;
}

.header {
	background-color: #ffffff;
	border-color: #cccccc;
	padding-top: 0:
}

h1 {
	background-color: #4aaaa5;
	color: white;
	width: 14.5%;
	padding: 15px;
	text-align: center;
}

#main_content {
	background-color: white;
	border-color: #dddddd;
}

#main_body {
	border-style: solid;
	width: 960px;
	margin: auto;
	padding: 20px;
	background-color: white;
}

h2 {
	font-size: 24px;
	color: #4aaaa5;
	border-bottom: 2px solid #ccc;
	margin-top: 30px;
	width: 100%;
	padding-bottom: 20px;
	padding-top: 20px;
}

h3 {
	font-size: 1.3;
	color: #4aaaa5;
}

h5 {
	font-size: 15px;
	color: #ccc;
	text-align: center;
	margin-top: 25px;
	padding: 22px 0px;
}

nav {
	float: right;
    margin-top: 23px;
}

#wrapper {
	background: url("../images/dust_scratches/dust_scratches.png");
}

li {
	float: right;
	margin-right: 63px;
}

a {
	color: lightgrey
}

.bio {
	padding-top: 36px;
}

footer {
	background-color: #666666;
	margin-top: 0;
	height: 70px;
}

.contact {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 24px;
}

  #name {
	vertical-align: top;
	width: 954px;
	height: 25px;
  }

  #mail {
	vertical-align: top;
	width: 954px;
	height: 25px;
  }

  #msg {
	vertical-align: top;
	width: 954px;
	height: 75px;
  }

  .button {
	  padding-left: 0px;
	  text-align: center;
  }

  /* Could not get the pictures to line up or the H1 .title to line up from page to page or the green banners on the photos for the portfolio */